*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  color: #637588;
  font-size: 16px;
  overflow-y: scroll;
  letter-spacing: 0.1em;
}
h1 {
  font-family: "Roboto Slab", serif;
  font-size: 3.75rem;
  letter-spacing: 0.08em;
  font-weight: 300;
  text-align: center;
  /* line-height: 1.2em;*/
}
a {
  text-decoration: none;
  color: #ffffff;
}
.btn {
  height: 60px;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
}
.btn--light {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #ffffff;
  min-width: 250px;
}
.btn--primary {
  background-color: rgb(45, 54, 81, 0.8);
  border: 2px solid #2d3651;
  min-width: 350px;
}
.btn:hover,
.btn:focus {
  background-color: #d66926;
}
.header {
  position: relative;
  background-color: #2d3651;
  color: #ffffff;
  min-height: 100vh;
  background-image: url(../img/img-header.png);
  background-size: cover;
  background-position: center;
  display: grid;
  align-content: center;
}
.header-content {
  position: relative;
  z-index: 1;
}

.header-content__container,
.header-menu__container {
  max-width: 1340px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  /*background-color: greenyellow;*/
}

.header-content__title {
  margin: 0 0 51px;
}
.header-content__actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header-menu {
  /*background-color: orange;*/

  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}

.header-menu__container {
  display: grid;
  gap: 20px;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.header-logo {
  /*background-color: red;*/
  font-size: 1.5rem;
  letter-spacing: 0.22em; /*проставила тип как правильно, но проверить нужно и возможно 0.17 em*/
}
.header-logo__link {
  display: block;
  padding: 20px 20px 20px 0;
}
.header-logo__accent {
  display: inline-block;
  margin-right: 4px;
  padding: 14px 1px 13px 5px;
  border: 3px solid #d53d27;
}
.header-navbar {
  /*background-color: green;*/
}
.header-navbar__btn {
  display: none;
}
.header-navbar__list {
  margin: 0 -10px 0 0;
  padding: 0;
  list-style: none;
  display: grid;
  justify-content: flex-end;
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  gap: 20px;
}
.header-navbar__item {
}
.header-navbar__link {
  padding: 20px 11px;
  display: block;
  /* background-color: rosybrown;*/
  letter-spacing: 0.08em;
  font-size: 1.125rem;
  transition: color 0.25s;
}
.header-navbar__link:hover,
.header-navbar__link:focus {
  color: #d66926;
}
.header-overlay {
  position: absolute;
  inset: 0;
  background-color: #2d3651;
  opacity: 0.8;
}
.skills {
  padding: 10px;
  margin-bottom: 30px;
}

.skills__container {
  display: grid;
  grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
  gap: 10px;
  margin-bottom: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: calc(33.33vh - 13.3333px);
}

.skills__actions {
  display: flex;
  justify-content: center;
}
.skill-item {
  position: relative;
  overflow: hidden;
  /*min-height: calc(33.33vh - 13.3333px);*/
}
.skill-item:hover .skill-item__link {
  color: #d66926;
}
.skill-item:hover .skill-item__image {
  transform: scale(1.1);
}
.skill-item:hover .skill-item__overlay {
  opacity: 0.95;
}
.skill-item:nth-of-type(1) {
  grid-area: a1;
}
.skill-item:nth-of-type(2) {
  grid-area: a2;
}
.skill-item:nth-of-type(3) {
  grid-area: a3;
}
.skill-item:nth-of-type(4) {
  grid-area: a4;
}
.skill-item:nth-of-type(5) {
  grid-area: a5;
}
.skill-item:nth-of-type(6) {
  grid-area: a6;
}
.skill-item:nth-of-type(7) {
  grid-area: a7;
}
.skill-item:nth-of-type(8) {
  grid-area: a8;
}
.skill-item:nth-of-type(9) {
  grid-area: a9;
}
.skill-item__title {
  position: absolute;
  inset: 0;
  z-index: 1;
  margin: 0;
  font-size: 20px;
  letter-spacing: 2px;
}
.skill-item__link {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  transition: color 0.5s;
}
.skill-item__image {
  position: absolute;
  inset: 0;
  background-color: #2d3651;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}
.skill-item__overlay {
  position: absolute;
  inset: 0;
  background-color: #2d3651;
  opacity: 0.8;
  transition: opacity 0.5s;
}
@media (min-height: 691px) {
  .skills__container {
    grid-auto-rows: calc(33.33vh - 13.3333px);
  }
}
@media (max-height: 690px) {
  .skills__container {
    grid-auto-rows: calc(230px - 13.3333px);
  }
}
