@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
  /*background-color: green;*/
  &__btn {
    display: none;
  }
  &__list {
    margin: 0 -10px 0 0;
    padding: 0;
    list-style: none;
    display: grid;
    justify-content: flex-end;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    gap: 20px;
  }
  &__item {
  }
  &__link {
    padding: 20px 11px;
    display: block;
    /* background-color: rosybrown;*/
    letter-spacing: 0.08em;
    font-size: 1.125rem;
    transition: color 0.25s;
    &:hover,
    &:focus {
      color: #d66926;
    }
  }
}
