@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu {
  /*background-color: orange;*/
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  width: 100%;
  &__container {
    display: grid;
    align-items: center;

    @extend %container;
    gap: 20px;
    grid-template-columns: auto 1fr;
  }
}
