.btn {
  height: 60px;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
  &--light {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid $color-light;
    min-width: 250px;
  }
  &--primary {
    background-color: rgb($color-primary, 0.8);
    border: 2px solid $color-primary;
    min-width: 350px;
  }
  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}
