@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: $font-main;
  color: $color-gray;
  font-size: $font-size;
  overflow-y: scroll;
  letter-spacing: 0.1em;
}
h1 {
  font-family: $font-header;
  letter-spacing: 0.08em;
  font-weight: 300;
  text-align: center;
  /* line-height: 1.2em;*/
}

a {
  text-decoration: none;
  color: $color-light;
}
